[class^="number-slide"],
[class*=" number-slide"] {
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.125rem; /* 50px */
  color: #000000;
  font-weight: 500;
  height: 18.75rem; /* 300px */
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

slides {
  display: flex;
  position: relative;
  justify-content: center;
}

.number-slide1 {
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}

.number-slide6 {
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.navigation-wrapper {
  position: relative;
  display: flex;
  height: 100vh;
}

.dots {
  display:flex;
  position: absolute;
  left: 8.25rem; /* 100px */
  bottom: -7.25rem; /* -132px */
  border-radius: 3.125rem; /* 50px */
  justify-content: center;
  gap: 0.001rem; /* 14px */

}

.dot {
  padding: 0.25rem; /* 4px */
  margin: 0.25rem; /* 4px */
  width: 4.875rem; /* 110px */
  height: 0.10rem; /* 4px */
  background: #dbdbdbf1;
  border-radius: 4.125rem; /* 2px */
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #6843ec;
}

.arrow {
  width: 1.875rem; /* 30px */
  height: 1.875rem; /* 30px */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 0.3125rem; /* 5px */
}

.arrow--right {
  left: auto;
  right: 0.3125rem; /* 5px */
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
